@page
@model WebApplication1.Pages.AddExhibitModel
@{
    ViewData["Title"] = "Добавить экспонат";
}

<h2>Зарегистрированные экспонаты музея</h2>
<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Название экспоната</th>
            <th>Материал изготовления</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Exhibits)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Material</td>
            </tr>
        }
    </tbody>
</table>

<form method="post" class="mt-4 border p-3 bg-light rounded w-50">
    <h4 class="mb-3">Новый экспонат</h4>
    <div class="form-group mb-3">
        <label class="form-label">Название экспоната:</label>
        <input type="text" asp-for="NewExhibit.Name" class="form-control" required />
    </div>
    <div class="form-group mb-3">
        <label class="form-label">Материал:</label>
        <input type="text" asp-for="NewExhibit.Material" class="form-control" required />
    </div>
    <div class="form-group mb-3">
        <label class="form-label">Страна происхождения:</label>
        <select asp-for="NewExhibit.Country_Id" class="form-select" required>
            <option value="">-- Выберите страну --</option>
            @foreach (var country in Model.Countries)
            {
                <option value="@country.Id">@country.Name</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-success">Сохранить экспонат</button>
</form>
<a class="btn btn-secondary mt-3" href="./Index">Назад на главную</a>